QWidget {
    background-color: #202020;
    color: #f0f0f0;
}

*[type="performance"] {
	background-color: #000000;
	color: #00adce;
}

*[type="efficiency"] {
	background-color: #000000;
	color: #00c590;
}
